################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaxiMicroservice/.vs/TaxiMicroservice/v15
/TaxiMicroservice/TaxiMicroservice.Auth/obj
/TaxiMicroservice/TaxiMicroService.Drivers/obj
/TaxiMicroservice/TaxiMicroService.Locations/obj
/TaxiMicroservice/TaxiMicroservice.Auth/bin/Debug/netcoreapp2.1
/TaxiMicroservice/.vs/config
