################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaxiMicroservice/.vs/TaxiMicroservice/v15
/TaxiMicroservice/TaxiMicroservice.Auth/obj
